/* width global */
$w_sm = 768px
$w_lg = 1200px

/* color global */
$col_white = #fff
$col_lightgray = #aaa
$col_gray = #555
$col_darkgray = #333
$col_primary = #337ab7
$col_primaryHover = #286090
$col_info = #5bc0de
$col_infoHover = #31b0d5