@import 'nib'

// width global
sm = 768px
lg = 1200px

// color global
$col_white = #fff
$col_lightgray = #aaa
$col_gray = #555
$col_darkgray = #333
$col_primary = #337ab7
$col_primaryHover = #286090

// mixins
// break(media query)
break(scname)
  @media only screen and (max-width: scname)
    {block}

// flex shorthand
flexer(dir = row, wr = nowrap, jc = flex-start, ai = stretch, ac = stretch)
  display flex
  flex-direction dir
  flex-wrap wr
  justify-content jc
  align-items ai
  align-content ac

:root
  font-size 14px
  +break(sm)
    font-size 12px

html,body
  padding 0
  margin 0
  font-family 'Lato', 'Noto Sans JP', sans-serif
  background-color $col_darkgray

textarea
input[type=text]
  font-family inherit
  font-family 'Noto Sans JP', sans-serif
  +break(sm)
    font-size 16px!important

input[type=radio]
input[type=checkbox]
  margin-top 0
  vertical-align middle
  position relative
  top -2px



h1, h2, h3
  font-size inherit

.header
  background-color $col_gray
  margin 0 0 10px
  color $col_lightgray
  font-size 2rem
  padding 10px
  flexer( row, nowrap, space-between, center )
  +break(sm)
    background-color $col_darkgray
    font-size 1.5rem
    margin-bottom 0
    padding 5px
  & > .head
    display inline-block
    margin 0
    font-weight 900
    vertical-align middle
  & > .btn
    line-height 1
    vertical-align middle
    +break(sm)
      padding 4px

.footer
  background-color $col_gray
  margin 10px 0 0
  padding 5px 10px
  color $col_lightgray
  font-size 1rem
  text-align right
  +break(sm)
    background-color $col_darkgray
    margin-top 0

.container
  width 100%
  min-height 100vh
  flexer( column, nowrap, stretch, stretch )
  margin 0
  padding 0

.main
  flexer( column, nowrap, center, center )
  flex-grow 1
  margin 0
  padding 0

.main-wrap
  flexer( column, nowrap, flex-start, stretch )
  margin 0
  padding 0
  background-color $col_gray
  width lg
  min-width 800px
  max-width 100%
  box-sizing border-box
  padding 4px
  color $col_lightgray
  border-radius 10px
  .form-group
    margin-bottom 0
    & > label
      +break(sm)
        display none
  +break(sm)
    padding 2px
    min-width 200px
    border-radius 0

.area-input
  flexer( row, nowrap, center, flex-end )
  margin 0
  padding 0
  &-text
  &-button
    padding 4px
    box-sizing border-box
    flex-shrink 1
  &-text
    flex-grow 45
    textarea
      height 240px
  &-button
    .btn-group-vertical
      width 100%
      .btn
        text-align left

.glyphicon
  &-undo
    transform scale(-1,1)
    &:before
      content "\e030"
  &-chevron-left
    &:before
      +break(sm)
        content "\e113"
.area-control
  flexer( row, wrap, flex-start, flex-start )
  +break(sm)
    margin 1px
.genre
  display none
  &:not(:checked)
    & + .ct-set
      width auto
      margin-right -5px
      +break(sm)
        margin-right 1px
      & > .body
        display none
      & > .head
        margin-right 5px
        text-align center
        +break(sm)
          margin-right 0
.ctLabel
  margin 0 5px
  width 100%
  +break(sm)
    margin 1px
    width auto

.ctGroup
  display block
  width auto
  margin 1px
  +break(sm)
    flexer( column, nowrap, flex-start, stretch)
  &Rd + &
    display none
  &Rd:checked + &
    display flex

.ct-set
  flexer( row, nowrap, flex-start, flex-start )
  padding 5px
  box-sizing border-box
  margin 0
  width 100%
  & > .body
    width auto
    flex-shrink 1
    display inline-block
    font-size 0
    border-radius 3px
    overflow hidden
    flexer( row, wrap, stretch, flex-start )
    .btn
      flex 1 1
      border-top none
      border-bottom none
      border-left none
      border-right none
      border-radius 0
    .btn-group
      flexer( row, wrap, stretch, flex-start )
      width 100%
    & > .btn
      margin-top -1px
      margin-left -1px
      border-top 1px solid rgba(0,0,0,.1) !important
      border-left 1px solid rgba(0,0,0,.1) !important
    & > .btn-group
      margin-top -1px
      border-top 1px solid rgba(0,0,0,.1) !important
    & > .btn-group
      & > .btn
        margin-top -1px
        margin-left -1px
        border-top 1px solid rgba(0,0,0,.1) !important
        border-left 1px solid rgba(0,0,0,.1) !important
    .btn:not(:last-of-type)
    .input-group:not(:last-of-type) .form-control:last-child
      border-top-right-radius 0
      border-bottom-right-radius 0
      border-left-width 0px
    .btn:not(:first-of-type)
    .input-group:not(:first-of-type) .form-control:first-child
      border-top-left-radius 0
      border-bottom-left-radius 0
  & > .head
    width 8em
    margin-bottom 0
    border none
    color $col_primary
    text-align right
    padding-right 10px
    flex-shrink 0
    border-radius 3px
    background-color $col_white
    padding 4px 6px
    font-size 12px
    line-height 1.5
    margin-right 10px
    border 1px solid $col_white
    label
      display block
      margin-bottom 0

.link-list
  display block
  margin 10px auto 10px
  text-align center
  li
    display inline-block
    & + li
      margin-left 20px
    a
      display block

.cd
  text-align center
  a
    color $col_white

+break(sm)
  #lengthDisp
    text-align center
    margin-bottom 5px
  .area-input
    flex-direction column
    align-items stretch
    &-text textarea
      width 100%
      height 160px
      padding 5px
    &-button
      width 100%
      .btn-group-vertical
        flexer( row, wrap, stretch, flex-start )
        width 80%
        text-align center
        font-size 0
        margin 0 auto
        border-radius 4px
        overflow hidden
        .btn
          flex 1 1
          min-width 33%
          display inline-block
          text-align center
          border-radius 0!important
  .btn-group-sm > .btn, .btn-sm
    padding 5px
  .ct-set
    padding-bottom 0
    flex-direction column
    align-items flex-start
    overflow hidden
    border-radius 3px
    padding 0
    margin 1px 0 2px
    width 100%
    flex-grow 1
    & > .body
      width 100%
      border-radius 0 0 3px 3px
      flexer( row, wrap, stretch, flex-start )
      .btn-group
        width 100%
        flexer( row, wrap, stretch, flex-start )
        border-radius 0 !important
        border-width 0 !important
      .btn
      .input-group .form-control
      .btn:not(:first-of-type)
      .input-group:not(:first-of-type) .form-control:first-child
      .btn:not(:last-of-type)
      .input-group:not(:last-of-type) .form-control:last-child
        flex-grow 1
        border-radius 0 !important
        border-width 0 !important
      .btn:not(:last-of-type)
      .input-group:not(:last-of-type) .form-control:last-child
        border-left-width 1px
      .form-inline
        display block
        width 100%
    & > .head
      text-align left
      width 100%
      border none
      margin-bottom 0
      border-radius 0
      label
        margin-bottom 0
        width 100%
    [for=text-i]
      display none

// help
.help
  .modal
    &-content
      overflow hidden
    &-header
      background-color $col_primary
      color $col_white
      border none
      padding 10px
      .close
      .close:focus
      .close:hover
        color $col_white
    &-body
      padding 10px
      font-size 12px
      blockquote
        font-size 12px
        padding 5px
      strong
        font-size 14px
      table
        tr
          th, td
            border 1px solid #666
            padding 3px 6px
      & > h1
        display none
      & > h2
        background-color $col_darkgray
        color $col_white
        margin 10px -10px -10px
        padding 10px
        font-size 18px
      & > h3
        display block
        background-color $col_gray
        color $col_white
        margin 10px -10px 10px
        padding 6px 10px
        font-size 16px
        & + br
          display none
      & > h4
        display: block
        margin: 10px 0
        padding: 10px 10px 4px 0
        border-bottom: 1px solid #000
        font-size: 14px
        line-height: 1
        & + br
          display none
      & > h3 + h4
        margin-top -10px
      & > ul > li
        padding-left 5px
        & > code:first-child
          margin-left -5px
        & + li
          margin-top 5px
        & > ul > li
          padding-left 5px
          text-indent -5px
    &-footer
      padding 10px

// 特殊
#ctset05 + .ct-set
  & > .body
    label.btn
      width auto
      min-width 13%
      +break(sm)
        min-width auto
        width auto


#ctset13 + .ct-set
  .form-group
    .input-group-sm
      float left
      width 25%
      &:nth-of-type(5)
      &:nth-of-type(6)
        width 33.3%
      &:nth-of-type(7)
        width 33.4%
      +break(sm)
        width 33.3%
        &:nth-of-type(3)
          width 33.4%
        &:nth-of-type(4)
          width 40%
        &:nth-of-type(5)
          width 60%
        &:nth-of-type(6)
        &:nth-of-type(7)
          width 50%
      .input-group-addon
        background-color $col_primary
        color $col_white
        border-radius 0
        border none
        padding 5px
      .input-group-btn
        width 24%
        & > .btn
          padding 5px
          width 100%
#ctset15 + .ct-set
  .form-group
    .input-group-sm
      float left
      width 25%
      &:nth-of-type(1)
        width 50%
      &:nth-of-type(2)
      &:nth-of-type(3)
        width 25%
      &:nth-of-type(4)
      &:nth-of-type(5)
        width 33.3%
      &:nth-of-type(6)
        width 33.4%
      +break(sm)
        width 50%
        &:nth-of-type(1)
        &:nth-of-type(6)
          width 100%
        &:nth-of-type(2)
        &:nth-of-type(3)
          width 50%
        &:nth-of-type(4)
          width 60%
        &:nth-of-type(5)
          width 40%
      .input-group-addon
        background-color $col_primary
        color $col_white
        border-radius 0
        border none
        padding 5px

#ctset17 + .ct-set
  .form-group
    .input-group-sm
      float left
      width 25%
      &:nth-of-type(1)
      &:nth-of-type(3)
        width 15%
      &:nth-of-type(2)
        width 20%
      &:nth-of-type(4)
      &:nth-of-type(5)
        width 25%
      +break(sm)
        width 50%
        &:nth-of-type(1)
        &:nth-of-type(2)
        &:nth-of-type(3)
        &:nth-of-type(4)
          width 50%
        &:nth-of-type(5)
          width 100%
      .input-group-addon
        background-color $col_primary
        color $col_white
        border-radius 0
        border none
        padding 5px
