@import 'nib'

// width global
sm = 768px
lg = 1200px

// color global
$col_white = #fff
$col_lightgray = #aaa
$col_gray = #555
$col_darkgray = #333
$col_primary = #286090

// mixins
// breakpoint(media query)
breakpoint(scname)
  @media only screen and (max-width: scname)
    {block}

// flex shorthand
flexer(dir = row, wr = nowrap, jc = flex-start, ai = stretch, ac = stretch)
  display flex
  flex-direction dir
  flex-wrap wr
  justify-content jc
  align-items ai
  align-content ac

:root
  font-size 14px
  +breakpoint(sm)
    font-size 12px

html,body
  padding 0
  margin 0
  font-family 'Lato', 'Noto Sans JP', sans-serif
  background-color $col_darkgray

textarea
input[type=text]
  font-family inherit
  font-family 'Noto Sans JP', sans-serif
  +breakpoint(sm)
    font-size 16px!important

input[type=radio]
input[type=checkbox]
  margin-top 0
  vertical-align middle
  position relative
  top -2px



h1, h2, h3
  font-size inherit

.header
  background-color $col_gray
  margin 0 0 10px
  color $col_lightgray
  font-size 2rem
  +breakpoint(sm)
    font-size 1.5rem
    margin-bottom 0
  & > .head
    margin 0
    padding 10px
    font-weight 900
    +breakpoint(sm)
      padding-bottom 0

.container
  width 100%
  min-height 100vh
  flexer( column, nowrap, stretch, stretch )
  margin 0
  padding 0

.main
  flexer( column, nowrap, center, center )
  flex-grow 1
  margin 0
  padding 0

.main-wrap
  flexer( column, nowrap, flex-start, stretch )
  margin 0
  padding 0
  background-color $col_gray
  width lg
  min-width 800px
  max-width 100%
  box-sizing border-box
  padding 4px
  color $col_lightgray
  border-radius 10px
  .form-group
    margin-bottom 0
  +breakpoint(sm)
    padding 2px
    min-width 200px
    border-radius 0

.area-input
  flexer( row, nowrap, center, flex-end )
  margin 0
  padding 0
  &-text
  &-button
    padding 4px
    box-sizing border-box
    flex-shrink 1
  &-text
    flex-grow 45
    textarea
      height 240px
  &-button .btn-group-vertical .btn
    text-align left

.glyphicon-undo
  transform scale(-1,1)
  &:before
    content "\e030"
.area-control
  flexer( row, wrap, flex-start, flex-start )
  +breakpoint(sm)
    margin 1px
.genre
  display none
  &:not(:checked)
    & + .ct-set
      width auto
      & > .body
        display none
.ct-set
  flexer( row, nowrap, flex-start, flex-start )
  width 100%
  padding 5px
  box-sizing border-box
  margin 0
  & > .body
    width auto
    flex-shrink 1
    display inline-block
    font-size 0
    .btn:not(:last-of-type)
    .input-group:not(:last-of-type) .form-control:last-child
      border-top-right-radius 0
      border-bottom-right-radius 0
      border-left-width 0px
    .btn:not(:first-of-type)
    .input-group:not(:first-of-type) .form-control:first-child
      border-top-left-radius 0
      border-bottom-left-radius 0
  & > .head
    width 10em
    margin-bottom 0
    border none
    color $col_primary
    text-align right
    padding-right 10px
    flex-shrink 0
    border-radius 3px
    background-color $col_white
    padding 5px 10px
    font-size 12px
    line-height 1.5
    margin-right 3px
    border 1px solid $col_white
    label
      margin-bottom 0

.link-list
  display block
  margin 10px auto 10px
  text-align center
  li
    display inline-block
    & + li
      margin-left 20px
    a
      display block

.info
  width 100%
  max-width lg
  color $col_lightgray
  margin-top 15px
  +breakpoint(lg)
    padding 0 10px 10px

.cd
  text-align center
  a
    color $col_white

+breakpoint(sm)
  #lengthDisp
    text-align center
    margin-bottom 5px
  .area-input
    flex-direction column
    align-items stretch
    &-text textarea
      width 100%
      height 160px
    &-button
      width 100%
      .btn-group-vertical
        display block
        width 80%
        text-align center
        font-size 0
        margin 0 auto
        border-radius 4px
        overflow hidden
        .btn
          display inline-block
          width 50%
          text-align center
          border-radius 0!important
  .btn-group-sm > .btn, .btn-sm
    padding 5px
  .ct-set
    padding-bottom 0
    flex-direction column
    align-items flex-start
    overflow hidden
    border-radius 3px
    padding 0
    margin 1px
    width 100%
    flex-grow 1
    & > .body
      width 100%
      flexer( row, wrap, stretch, flex-start )
      .btn-group
        width 100%
        flexer( row, wrap, stretch, flex-start )
        border-radius 0 !important
        border-width 0 !important
      .btn
      .input-group .form-control
      .btn:not(:first-of-type)
      .input-group:not(:first-of-type) .form-control:first-child
      .btn:not(:last-of-type)
      .input-group:not(:last-of-type) .form-control:last-child
        flex-grow 1
        border-radius 0 !important
        border-width 0 !important
      .btn:not(:last-of-type)
      .input-group:not(:last-of-type) .form-control:last-child
        border-left-width 1px
      .form-inline
        display block
        width 100%
    & > .head
      text-align left
      width 100%
      border none
      margin-bottom 0
      border-radius 0
      label
        margin-bottom 0
        width 100%
    [for=text-i]
      display none

// 特殊
#ctset13 + .ct-set
  .form-group
    .input-group-sm
      float left
      width 25%
      +breakpoint(sm)
        width 50%
      .input-group-btn
        width 24%
        .btn
          width 100%