@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("http://fonts.googleapis.com/earlyaccess/notosansjp.css");
:root {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Noto Sans', 'Noto Sans JP', sans-serif;
  font-family: 'Lucida Sans Unicode';
  background-color: #333;
}
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
textarea,
input[type=text] {
  font-family: inherit;
  font-family: 'Noto Sans JP', sans-serif;
}
@media only screen and (max-width: 768px) {
  textarea,
  input[type=text] {
    font-size: 16px !important;
  }
}
input[type=radio],
input[type=checkbox] {
  margin-top: 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
h1,
h2,
h3 {
  font-size: inherit;
}
.header {
  background-color: #555;
  margin: 0 0 10px;
  color: #aaa;
  font-size: 2rem;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
@media only screen and (max-width: 768px) {
  .header {
    background-color: #333;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 5px;
  }
}
.header > .head {
  display: inline-block;
  margin: 0;
  font-weight: 900;
  vertical-align: middle;
}
.header > .btn {
  line-height: 1;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .header > .btn {
    padding: 4px;
  }
}
.footer {
  background-color: #555;
  margin: 10px 0 0;
  padding: 5px 10px;
  color: #aaa;
  font-size: 1rem;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .footer {
    background-color: #333;
    margin-top: 0;
  }
}
.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  margin: 0;
  padding: 0;
}
.main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0 10px;
}
@media only screen and (max-width: 768px) {
  .main {
    margin: 0;
  }
}
.main-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  margin: 0;
  padding: 0;
  background-color: #555;
  width: 1200px;
  width: 800px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  color: #aaa;
  border-radius: 10px;
}
.main-wrap .form-group {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .main-wrap .form-group > label {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .main-wrap {
    padding: 2px;
    min-width: 200px;
    border-radius: 0;
  }
}
.area-input {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  margin: 0;
  padding: 0;
}
.area-input-text,
.area-input-button {
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.area-input-text {
  -webkit-box-flex: 45;
  -moz-box-flex: 45;
  -o-box-flex: 45;
  -ms-box-flex: 45;
  box-flex: 45;
  -webkit-flex-grow: 45;
  flex-grow: 45;
}
.area-input-text textarea {
  height: 240px;
}
.area-input-button .btn-group-vertical {
  width: 100%;
}
.area-input-button .btn-group-vertical .btn {
  text-align: left;
}
.glyphicon-undo {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.glyphicon-undo:before {
  content: "\e030";
}
@media only screen and (max-width: 768px) {
  .glyphicon-chevron-left:before {
    content: "\e113";
  }
}
.area-control {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
@media only screen and (max-width: 768px) {
  .area-control {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    -moz-box-pack: stretch;
    -o-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    margin: 0;
  }
}
.genre {
  display: none;
}
.genre:not(:checked) + .ct-set {
  width: auto;
  margin-right: -5px;
}
@media only screen and (max-width: 768px) {
  .genre:not(:checked) + .ct-set {
    margin-right: 2px;
  }
}
.genre:not(:checked) + .ct-set > .body {
  display: none;
}
.genre:not(:checked) + .ct-set > .head {
  margin-right: 5px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .genre:not(:checked) + .ct-set > .head {
    margin-right: 0;
  }
}
.ctLabel {
  margin: 0 -4px;
  width: auto;
  border-radius: 0;
}
.ctLabel .btn {
  border-radius: 0 !important;
}
@media only screen and (max-width: 768px) {
  .ctLabel {
    width: auto;
    margin: 0 -2px 3px;
  }
}
.ctGroup {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  width: auto;
  margin: 1px;
}
@media only screen and (max-width: 768px) {
  .ctGroup {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    -moz-box-pack: stretch;
    -o-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    margin: 0;
  }
}
.ctGroupRd + .ctGroup {
  display: none;
}
.ctGroupRd:checked + .ctGroup {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.ct-set {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
.ct-set > .body {
  width: auto;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  display: inline-block;
  font-size: 0;
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.ct-set > .body .btn {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.ct-set > .body .btn-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  width: 100%;
}
.ct-set > .body > .btn {
  margin-top: -1px;
  margin-left: -1px;
  border-top: 1px solid rgba(0,0,0,0.1) !important;
  border-left: 1px solid rgba(0,0,0,0.1) !important;
}
.ct-set > .body > .btn-group {
  margin-top: -1px;
  border-top: 1px solid rgba(0,0,0,0.1) !important;
}
.ct-set > .body > .btn-group > .btn {
  margin-top: -1px;
  margin-left: -1px;
  border-top: 1px solid rgba(0,0,0,0.1) !important;
  border-left: 1px solid rgba(0,0,0,0.1) !important;
}
.ct-set > .body .btn:not(:last-of-type),
.ct-set > .body .input-group:not(:last-of-type) .form-control:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 0px;
}
.ct-set > .body .btn:not(:first-of-type),
.ct-set > .body .input-group:not(:first-of-type) .form-control:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ct-set > .head {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  width: 8em;
  margin-bottom: 0;
  border: none;
  color: #337ab7;
  text-align: right;
  padding-right: 10px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: #fff;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 10px;
  border: 1px solid #fff;
}
.ct-set > .head label {
  display: block;
  margin-bottom: 0;
}
.ct-set > .head .fa {
  font-size: 16px;
}
.ct-set .form-inline {
  width: auto;
  margin-right: auto;
}
.ct-set .form-inline .form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.ct-set .form-inline .form-group .input-group-sm {
  width: 20%;
}
.ct-set .form-inline .form-group .input-group-sm .input-group-addon {
  background-color: #5bc0de;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 5px;
}
.ct-set .form-inline .form-group .input-group-sm input,
.ct-set .form-inline .form-group .input-group-sm select,
.ct-set .form-inline .form-group .input-group-sm option {
  background-color: #bde6f2;
}
@media screen and (min-width: 769px) {
  .ct-set .form-inline .form-group .input-group-sm.input-group-corn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  .ct-set .form-inline .form-group .input-group-sm.input-group-bt {
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
}
.link-list {
  display: block;
  width: 100%;
  margin: 10px auto 10px;
  text-align: center;
}
.link-list li {
  display: inline-block;
}
.link-list li + li {
  margin-left: 20px;
}
.link-list li a {
  display: block;
}
.cd {
  text-align: center;
}
.cd a {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  #lengthDisp {
    text-align: center;
    margin-bottom: 5px;
  }
  .area-input {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .area-input-text textarea {
    width: 100%;
    height: 160px;
    padding: 5px;
  }
  .area-input-button {
    width: 100%;
  }
  .area-input-button .btn-group-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    -moz-box-pack: stretch;
    -o-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    width: 80%;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
  }
  .area-input-button .btn-group-vertical .btn {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    min-width: 33%;
    display: inline-block;
    text-align: center;
    border-radius: 0 !important;
  }
  .btn-group-sm > .btn,
  .btn-sm {
    padding: 5px;
  }
  .ct-set {
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 3px;
    padding: 0;
    margin: 1px 2px 2px;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .ct-set > .body {
    width: 100%;
    border-radius: 0 0 3px 3px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    -moz-box-pack: stretch;
    -o-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
  }
  .ct-set > .body .btn-group {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    -moz-box-pack: stretch;
    -o-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    border-radius: 0 !important;
    border-width: 0 !important;
  }
  .ct-set > .body .btn,
  .ct-set > .body .input-group .form-control,
  .ct-set > .body .btn:not(:first-of-type),
  .ct-set > .body .input-group:not(:first-of-type) .form-control:first-child,
  .ct-set > .body .btn:not(:last-of-type),
  .ct-set > .body .input-group:not(:last-of-type) .form-control:last-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-radius: 0 !important;
    border-width: 0 !important;
  }
  .ct-set > .body .btn:not(:last-of-type),
  .ct-set > .body .input-group:not(:last-of-type) .form-control:last-child {
    border-left-width: 1px;
  }
  .ct-set > .body .form-inline {
    display: block;
    width: 100%;
  }
  .ct-set > .body .form-group .input-group-sm {
    width: 50%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-bt,
  .ct-set > .body .form-group .input-group-sm.input-group-spfull {
    width: 100%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-sp3 {
    width: 25%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-sp4 {
    width: 33.33%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-sp4r {
    width: 33.34%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-sp8 {
    width: 66.66%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-sp8r {
    width: 66.67%;
  }
  .ct-set > .body .form-group .input-group-sm.input-group-sp9 {
    width: 75%;
  }
  .ct-set > .head {
    width: 100%;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
  }
  .ct-set > .head label {
    margin-bottom: 0;
  }
  .ct-set [for=text-i] {
    display: none;
  }
}
.help .modal-content {
  overflow: hidden;
}
.help .modal-header {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px;
}
.help .modal-header .close,
.help .modal-header .close:focus,
.help .modal-header .close:hover {
  color: #fff;
}
.help .modal-body {
  padding: 10px;
  font-size: 12px;
}
.help .modal-body blockquote {
  font-size: 12px;
  padding: 5px;
}
.help .modal-body strong {
  font-size: 14px;
}
.help .modal-body table tr th,
.help .modal-body table tr td {
  border: 1px solid #666;
  padding: 3px 6px;
}
.help .modal-body > h1 {
  display: none;
}
.help .modal-body > h2 {
  background-color: #333;
  color: #fff;
  margin: 10px -10px -10px;
  padding: 10px;
  font-size: 18px;
}
.help .modal-body > h3 {
  display: block;
  background-color: #555;
  color: #fff;
  margin: 10px -10px 10px;
  padding: 6px 10px;
  font-size: 16px;
}
.help .modal-body > h3 + br {
  display: none;
}
.help .modal-body > h4 {
  display: block;
  margin: 10px 0;
  padding: 10px 10px 4px 0;
  border-bottom: 1px solid #000;
  font-size: 14px;
  line-height: 1;
}
.help .modal-body > h4 + br {
  display: none;
}
.help .modal-body > h3 + h4 {
  margin-top: -10px;
}
.help .modal-body > ul > li {
  padding-left: 5px;
}
.help .modal-body > ul > li > code:first-child {
  margin-left: -5px;
}
.help .modal-body > ul > li + li {
  margin-top: 5px;
}
.help .modal-body > ul > li > ul > li {
  padding-left: 5px;
  text-indent: -5px;
}
.help .modal-footer {
  padding: 10px;
}
.section-ime .modal-content {
  overflow: hidden;
}
.section-ime .modal-header {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px;
}
.section-ime .modal-header .close,
.section-ime .modal-header .close:focus,
.section-ime .modal-header .close:hover {
  color: #fff;
}
.section-ime .modal-body {
  padding: 10px;
  font-size: 12px;
}
.section-ime .alphaDisp,
.section-ime .ligatDisp {
  padding: 5px 10px;
  background-color: #aaa;
  color: #337ab7;
  font-size: 2rem;
  border-radius: 5px;
  min-height: 1em;
  word-wrap: break-word;
}
.section-ime .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.section-ime .btn-group > .btn:last-child:not(:first-child),
.section-ime .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0;
}
.section-ime .btn-group {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  overflow: hidden;
  border-radius: 4px;
  background-color: #337ab7;
}
.section-ime .btn-group .btn {
  border: none;
  float: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.section-ime .btn-col13 .btn {
  min-width: 11.11%;
}
.section-ime .btn-col13 .btn-info:last-child {
  border-bottom-right-radius: 4px;
}
.section-ime .bt-control {
  display: block;
  width: 4em;
  margin: 10px auto 0;
}
.section-ime #alpha_opt .btn,
.section-ime #ligat_opt .btn {
  font-size: 2rem;
}
