//- vars, arrays
-
  const
    $title = '汎用テキストコンバータ'
    metas = [
      [ 'http-equiv', 'X-UA-Compatible', 'IE=edge' ],
      [ 'name', 'viewport', 'width=device-width,initial-scale=1' ],
      [ 'http-equiv', 'Content-Language', 'en' ],
      [ 'http-equiv', 'Content-Type', 'text/html; charset=UTF-8" ' ],
      [ 'name', 'twitter:site', '@ichimonji_haji' ],
      [ 'name', 'description', 'テキストに対して色々な変換を行うためのツールです。' ],
      [ 'name', 'twitter:card', 'summary' ],
      [ 'name', 'apple-mobile-web-app-capable', 'yes' ],
      [ 'http-equiv', 'Content-Language', 'ja' ],
      [ 'http-equiv', 'Content-Type', 'text/html; charset=UTF-8' ],
      [ 'http-equiv', 'Content-Script-Type', 'text/javascript' ],
      [ 'http-equiv', 'Content-Style-Type', 'text/css' ],
      [ 'property', 'og:title', $title ],
      [ 'property', 'og:url', 'http://myth.maji.asia/code/' ],
      [ 'property', 'og:description', 'テキストに対して色々な変換を行うためのツールです。' ],
      [ 'property', 'og:image', 'http://myth.maji.asia/figure/aloes.jpg' ],
      [ 'name', 'twitter:image', 'http://myth.maji.asia/figure/aloes.jpg' ],
    ]
    links = [
      'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css',
      'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
      'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css',
      'https://fonts.googleapis.com/css?family=Lato:400,700,900',
      'http://fonts.googleapis.com/earlyaccess/notosansjp.css',
      'css/common.css'
    ]
    scripts = [
      'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js',
      'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
      'js/pinyin.js',
      'js/cjk.js',
      'js/japanese.js',
      'js/other.js',
      'js/common.js'
    ]
    btsArr = {
      'ctset01': {
        'str': 'ケース',
        'bts': [
          ['case-title', '頭文字のみ大文字に', 'TITLE'],
          ['case-upper', '全て大文字に', 'UPPER'],
          ['case-lower', '全て小文字に', 'LOWER'],
          ['case-swap', '大文字小文字を反転', 'SWAP'],
          ['case1', 'シングルクォーテーションをダブルクーテーションに', '\'\'→\"\"'],
          ['case2', 'ダブルクーテーションをシングルクォーテーションに', '\"\"→\'\''],
          ['case3', '文字間のハイフンをアンダーバーに', 'abc-def→abc_def'],
          ['case4', '文字間のアンダーバーをハイフンに', 'abc_def→abc-def'],
          ['case5', 'キャメルケースをハイフンに', 'abcDef→abc-def'],
          ['case6', '文字間のハイフンをキャメルケースに', 'abc-def→abcDef'],
          ['case7', '符号付きラテン文字を標準化', 'Àóṫœ→Aotoe']
        ]
      },
      'ctset02': {
        'str': 'Url/Base64',
        'bts': [
          ['url-encode', 'パーセントエンコード（;/?:@& = +$-_!~*.,()a#\'以外）', 'URL エンコード(軽)'],
          ['url-encode2', 'パーセントエンコード（-_!~*.()a\'以外）', 'URL エンコード(中)'],
          ['url-encode3', 'パーセントエンコード（*+-_./以外）', 'URL エンコード(強)'],
          ['url-decode', 'パーセントでコード（全て）', 'URL デコード'],
          ['b64-encode', 'BASE64 エンコード', 'BASE64 エンコード'],
          ['b64-decode', 'BASE64 デコード', 'BASE64 デコード']
        ]
      },
      'ctset03': {
        'str': 'Unicode関連',
        'bts': [
          ['uni-escape', 'Unicode値でのパーセントエンコード（%u～）', 'エスケープ'],
          ['uni-unescape', 'Unicode値でのパーセントデコード', 'アンエスケープ'],
          ['uniH-escape', 'HTML数値文字参照（\&#x～;）', 'HTMLエスケープ(中)'],
          ['uniH-escape2', '全文字をHTML数値文字参照（\&#x～;）', 'HTMLエスケープ(強)'],
          ['uniH-unescape', '文字参照、実体参照を復号', 'HTMLアンエスケープ'],
          ['uni-escape3', 'HTMLタグ用文字を実体参照化', '[<>\&]の実体参照化'],
          ['uni-escape4', 'UTF32のオーバーフロー分をサロゲートペアに変換', 'UTF-32→UTF-16'],
          ['uni-escape5', 'サロゲートペアをUTF32表記に', 'UTF-16→UTF-32']
        ]
      },
      'ctset04': {
        'str': '数値型',
        'bts': [
          ['num-10_2', '10進数を2進数に', 'Dec→Bin'],
          ['num-2_10', '2進数を10進数に', 'Bin→Dec'],
          ['num-10_16', '10進数を16進数に', 'Dec→Hex'],
          ['num-16_10', '16進数を10進数に', 'Hex→Dec'],
          ['num-2_16', '2進数を16進数に', 'Bin→Hex'],
          ['num-16_2', '16進数を2進数に', 'Hex→Bin'],
        ]
      },
      'ctset05': {
        'str': '抽出/排除',
        'lbs': {
          'lb': [
            ['extract_reg', 'cb', 'A-Z', 'ABC'],
            ['extract_reg', 'cb', 'a-z', 'abc'],
            ['extract_reg', 'cb', '0-9', '123'],
            ['extract_reg', 'cb', ' 　 -‏‏ \t\v\u{00A0}\u{1680}​\u{180E}\u{2028}\u{2029}\u{202F}\u{205F}​\u{3000}\u{FEFF}', 'スペース'],
            ['extract_reg', 'cb', '\n\r\f', '改行'],
            ['extract_reg', 'cb', '\.,-|_/', '.,-/|_'],
            ['extract_reg', 'cb', '\?\!&quot;&apos;$%^', '?!\"\'$%^'],
            ['extract_reg', 'cb', '&:;#\\(\\)\\{\\}\\[\\]', '&:;#(){}[]'],
            ['extract_reg', 'cb', '\u{3040}-\u{3096}', 'あ'],
            ['extract_reg', 'cb', '\u{30A0}-\u{30FF}\u{31F0}-\u{31FF}', 'ア'],
            ['extract_reg', 'cb', '々〇〻\u{2E80}-\u{2FDF}\u{3400}-\u{4DBF}\u{4E00}-\u{9FFF}\u{F900}-\u{FAFF}\u{20000}-\u{2A6DF}', '漢'],
            ['extract_reg', 'cb', '\u{3000}-\u{303F}\u{3099}-\u{309F}\u{3200}-\u{33FF}\u{FE10}-\u{FE1F}\u{FF00}-\u{FFEF}', '全角記号']
          ],
          'bt': [
            ['extract', '選択した対象を抽出', '抽出'],
            ['exclude', '選択した対象を排除', '排除']
          ]
        }
      },
      'ctset06': {
        'str': '一括排除',
        'bts': [
          ['newline', '', '全ての改行'],
          ['html', '', 'HTMLタグ'],
          ['space', '', '余分なスペース'],
          ['margin', '', '余分な改行'],
          ['ex_dup1', '', '重複する文字'],
          ['ex_dup2', '', '重複する行'],
          ['ex_dup3', '', '重複する単語']
        ]
      },
      'ctset07': {
        'str': '反転/ソート',
        'bts': [
          ['rev-chara', '', '文字単位で反転'],
          ['rev-line', '', '行単位で反転'],
          ['rev-line2', '', '行ごとに文字単位で反転'],
          ['rev-word', '', '単語単位で反転'],
          ['sort1', '', '行単位で昇順に整列'],
          ['sort2', '', '行単位で降順に整列'],
          ['sort3', '', '文字単位で昇順に整列'],
          ['sort4', '', '文字単位で降順に整列']
        ]
      },
      'ctset08': {
        'str': '重複文字/行列',
        'bts': [
          ['dup1', '重複部分のみ削除', 'ABA→AB'],
          ['dup2', '重複部分を重複したまま抽出', 'ABA→AA'],
          ['dup3', '重複した文字以外を抽出', 'ABA→B'],
          ['dup4', '重複部分を重複させないで抽出', 'ABA→A']
        ],
        'lbs': {
          'lb': [
            ['matrix', 'rd', '\t', 'タブ', true],
            ['matrix', 'rd', '\,', ','],
            ['matrix', 'rd', ' ', 'スペース'],
            ['matrix', 'rd', '', '1文字ずつ']
          ],
          'bt': [
            ['matrix-change', '区切り文字と行を基準に行と列を入れ替え', '行と列を入れ替え']
          ]
        }
      },
      'ctset09': {
        'str': '日本語関連',
        'bts': [
          ['jpn1', '全角ひらがなを全角カタカナに', 'あ→ア'],
          ['jpn2', '全角カタカナを全角ひらがなに', 'ア→あ'],
          ['jpn3', '半角カタカナを全角カタカナに', 'ｱ→ア'],
          ['jpn4', '全角カタカナを半角カタカナに', 'ア→ｱ'],
          ['jpn5', '半角英数字を全角英数字に', 'A1→Ａ１'],
          ['jpn6', '全角英数字を半角英数字に', 'Ａ１→A1'],
          ['jpn7', '新字体を旧字体に（異体字セレクタ分を含まない）', '新字→旧字（中）'],
          ['jpn7b', '新字体を旧字体に（異体字セレクタ分を含む）', '新字→旧字（強）'],
          ['jpn8', '旧字体を新字体に（異体字セレクタ分を含む）', '旧字→新字'],
          ['jpn9', '漢数字を大字に', '一二→壱弐'],
          ['jpna', '大字を漢数字に', '壱弐→一二'],
          ['jpnb', '全角カタカナを訓令式ローマ字表記に', 'トウキョウ→tôkyô'],
          ['jpnc', '全角カタカナをヘボン式ローマ字表記に', 'トウキョウ→tokyo'],
          ['jpnd', 'ヘボン式ローマ字を全角カタカナに', 'tokyo→トキョ']
        ]
      },
      'ctset10': {
        'str': 'CJK関連',
        'bts': [
          ['tocjk1', '日本字体を簡体字に', '日→簡体'],
          ['tocjk2', '日本字体を繁体字に', '日→繁体'],
          ['tocjk3', '簡体字を日本字体に', '簡体→日'],
          ['tocjk4', '繁体字を日本字体に', '繁体→日'],
          ['tocjk5', '簡体字を繁体字に', '簡体→繁体'],
          ['tocjk6', '繁体字を簡体字に', '繁体→簡体'],
          ['tocjk7', '漢字の直後にピンインを追加', 'ピンイン']
        ]
      },
      'ctset11': {
        'str': 'Sanskrit',
        'bts': [
          ['skt1', 'デーヴァナガリーを京都・ハーバード方式に', 'संस्कृत→saMskRta'],
          ['skt2', 'デーヴァナガリーをIASTに', 'संस्कृत→saṃskṛta'],
          ['skt3', '京都・ハーバード方式をデーヴァナガリーに', 'saMskRta→संस्कृत'],
          ['skt4', '京都・ハーバード方式をIASTに', 'saMskRta→saṃskṛta'],
          ['skt5', 'IASTをデーヴァナガリーに', 'saṃskṛta→संस्कृत'],
          ['skt6', 'IASTを京都・ハーバード方式に', 'saṃskṛta→saMskRta']
        ]
      },
      'ctset12': {
        'str': '正規表現'
      },
      'ctset13': {
        'str': '連番生成'
      },
      'ctset15': {
        'str': '日付連番生成'
      },
      'ctset14': {
        'str': '左右連結',
        'bts': [
          ['merge1', '左右を上下結合', '上下に結合'],
          ['merge2', '左右を行ごとに結合', '行ごとに結合'],
          ['merge3', '左右を文字ごとに結合', '文字ごとに結合']
        ]
      },
      'ctset16': {
        'str': '数字',
        'bts': [
          ['num-a_j', 'アラビア数字を漢数字に（桁付き）', '123→百二十三'],
          ['num-a_j2', 'アラビア数字を漢数字に（桁なし）', '123→一二三'],
          ['num-j_a', '漢数字をアラビア数字に', '百二十三→123']
        ],
        'lbs': {
          'lb': [
            ['roman_class', 'rd', 'M', 'M(1~3999)', true],
            ['roman_class', 'rd', 'C1', 'ↀ(1~399999)'],
            ['roman_class', 'rd', 'C2', 'CIↃ(1~399999)']
          ],
          'bt': [
            ['num-a_r', 'アラビア数字をローマ数字に', 'Arabic→Roman'],
            ['num-r_a', 'ローマ数字をアラビア数字に', 'Roman→Arabic']
          ]
        }
      },
      'ctset17': {
        'str': '連続データ',
        'lbs': {
          'lb': [
            ['rz_type', 'rd', 'hkana', 'あ い う', true],
            ['rz_type', 'rd', 'kkana', 'ア イ ウ'],
            ['rz_type', 'rd', 'iroha', 'い ろ は'],
            ['rz_type', 'rd', 'iroha2', 'イ ロ ハ'],
            ['rz_type', 'rd', 'iroha3', '以 呂 波'],
            ['rz_type', 'rd', 'wcjk', '日 月 火'],
            ['rz_type', 'rd', 'wen', '曜日（英語）'],
            ['rz_type', 'rd', 'wen2', '曜日（英語略）'],
            ['rz_type', 'rd', 'men', '月（英語）'],
            ['rz_type', 'rd', 'men2', '月（英語略）'],
            ['rz_type', 'rd', 'alpha', 'ABC'],
            ['rz_type', 'rd', 'alpha2', 'abc'],
            ['rz_type', 'rd', 'eto12', '十二支'],
            ['rz_type', 'rd', 'eto10', '十干'],
            ['rz_type', 'rd', 'eto60', '干支']
          ]
        }
      }
    }