//- mixins
mixin metaAll( arr )
  each val in arr
    if val[0] === 'http-equiv'
      meta( http-equiv = val[1], content = val[2] )
    else if val[0] === 'name'
      meta( name = val[1], content = val[2] )
    else if val[0] === 'property'
      meta( property = val[1], content = val[2] )
mixin linkAll( arr )
  each val in arr
    link( rel = 'stylesheet', href = val )
mixin jsAll( arr )
  each val in arr
    script( src = val )
mixin bt( id, title, txt = false )
  if txt
    - txt = txt.replace( '→', ' <i class="glyphicon glyphicon-arrow-right"></i> ' )
  if title !== ''
    if block && !txt
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', title = title, value = id )
        block
    else
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', title = title, value = id ) !{txt}
  else
    if block && !txt
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', value = id )
        block
    else
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', value = id ) !{txt}
mixin lb( group, tp, val, txt, ckd )
  if tp === 'cb'
    - type = 'checkbox'
  else
    - type = 'radio'
  - val = val.replace('&amp;','&')
  if ckd
    label.btn.btn-primary #[input( class = group, name = group, type = type, value != val, checked = 'checked' )] #{txt}
  else
    label.btn.btn-primary #[input( class = group, name = group, type = type, value != val )] #{txt}
mixin dlBox(id)
  - setBts = btsArr[id].bts
  - setLbs = btsArr[id].lbs
  input.genre( id = id type = 'checkbox', name = 'genre', checked = 'checked' )
  dl.ct-set
    dt.head: label( for = id )= btsArr[id].str
    dd.body
      if setBts
        each val in setBts
          +bt( val[0], val[1], val[2] )
      if setLbs
        div.btn-group.btn-group-sm( role = 'group', aria-label = '...' )
          if setLbs.lb
            each val in setLbs.lb
              +lb( ...val )
          if setLbs.bt
            each val in setLbs.bt
              +bt( val[0], val[1], val[2] )
      if block
        block