doctype html

include _mixin
include _data

html( lang = 'en' )
  head
    title= $title
    meta( charset = 'utf-8' )
    +metaAll( metas )
    link( rel = 'image_src', href = 'http://myth.maji.asia/figure/aloes.jpg' )
    +linkAll( links )
  body
    header.header
      h1.head= $title
    main.main
      div.main-wrap
        section.area-input
          div.area-input-text
            div.form-group
              label( for = 'text-i' ) Original Text #[span#selDisp]
              textarea.form-control#text-i( placeholder = 'Original Text' )
          div.area-input-text
            div.form-group
              label( for= 'text-o' ) Converted Text
              textarea.form-control#text-o( placeholder = 'Converted Text' )
          div.area-input-button
            div#lengthDisp
            div.btn-group-vertical
              +bt( 'move', '変換後テキストを変換前テキストエリアへ移動' ) #[i.glyphicon.glyphicon-chevron-left] MOVE
              +bt( 'delete', 'テキストを一括削除' ) #[i.glyphicon.glyphicon-remove] DELETE
              +bt( 'undo', '一段階前に戻す' ) #[i.glyphicon.glyphicon-undo] UNDO
              +bt( 'change', '左右を入れ替え' ) #[i.fa.fa-exchange] REPLACE
              label.btn.btn-sm.btn-primary #[input.automove( name = 'automove', type = 'checkbox' )] AUTO MOVE
        section.area-control
          - for( var num = 1; num <= 11; num++)
            +dlBox('ctset' + ('0' + num).slice(-2))
          +dlBox('ctset12')
            div.form-inline
              div.form-group
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary #[input#caps(type = 'checkbox' )] Aa
                  input.form-control( type = 'text', id = 'rep_find', value = '', placeholder = 'Find What' )
                div.input-group.input-group-sm
                  input.form-control( type = 'text', id = 'rep_rep', value = '', placeholder = 'Replace With' )
                  span.input-group-btn
                    button.btn.btn-primary.bt-control( type = 'button', title = '置換' , value = 'replacement' ) 置換
          +dlBox('ctset13')
            div.form-inline
              div.form-group
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary( title = '～から' ) from
                  input.form-control( type = 'number', min　= 0, id = 'mx_start', value = '0', placeholder = 'Start' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary( title = '～まで' ) to
                  input.form-control( type = 'number', min = 1, id = 'mx_end', value = '100', placeholder = 'End' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary( title = '～刻みで' ) step
                  input.form-control( type = 'number', min = 1, id = 'mx_step', value = '1', placeholder = 'Step' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary( title = 'ゼロパディング' ) padding
                  input.form-control( type = 'number', min = 0, id = 'mx_padding', value = '3', placeholder = 'Padding' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary( title = 'ごとに' ) join
                  input.form-control( type = 'text', id = 'mx_join', value = '\\n', placeholder = 'Join' )
                div.input-group.input-group-sm
                  button.form-control.btn.btn-primary.bt-control( type = 'button', title = '連番生成', value = 'numbering' ) 生成
          +dlBox('ctset14')
        ul.link-list
          li: a.btn.btn-primary( target='_blank', href='readme.html' )= 'help'
          li: a.btn.btn-primary( target='_blank', href='https://codepen.io/ichimonzi/details/ZJWEZQ/' )= 'codepen'
    footer.footer
      a( href = 'https://twitter.com/ichimonji_haji' ) #[i.fa.fa-twitter] @ichimonji_haji
    +jsAll( scripts )